@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import "tailwindcss";

@theme {
    --font-archivo: "Archivo Black", sans-serif;

    --animate-wiggle: wiggle 1s ease-in-out infinite;

    @keyframes wiggle {

        0%,
        100% {
            transform: rotate(-1deg);
        }

        50% {
            transform: rotate(1deg);
        }
    }
}

/* * {
    outline: 1px solid #f00 !important;
} */